modules = ["nodejs-24", "python-3.11", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 19461
externalPort = 4200

[[ports]]
localPort = 20359
externalPort = 3000

[[ports]]
localPort = 20360
externalPort = 3002

[[ports]]
localPort = 23725
externalPort = 3001

[[ports]]
localPort = 25268
externalPort = 3003

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
PSY_DATABASE_URL = "postgresql://postgres:WxLbYCSqeXjMsBBBRDhARlYRngjlyMkj@roundhouse.proxy.rlwy.net:38978/railway"
PSY_FEE_WALLET_SOL = "BY5U2cAhCnPmAYhG8WLq8g3cUhVeKHqYxsC2NY4nHkyL"
PSY_FEE_WALLET = "0xd255a2Ab2Cdd0ECbA857214EF2400697d402af00"
PSY_FEE_WALLET_BNB = "0xd255a2Ab2Cdd0ECbA857214EF2400697d402af00"
ZEROX_API_KEY = "c78ab878-6781-4938-9543-9000991e63c0"
